@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* ---break---*/

:root {
  --primary: oklch(70.07% 0.2001 145); /* hsl(107.1, 23.3%, 11.8%) #30bd44*/
  --secondary: oklch(0.97 0 0); /* hsl(104.2, 25.7%, 71%); #7BA05B*/
  --accent: oklch(0.97 0 0); /* hsl(4.9, 64.7%, 33.3%) #8C271E*/

  --bg-dark: oklch(92.49% 0 0) /* hsl(0 0% 90%); #e6e6e6 */;
  --bg: oklch(96.12% 0 0) /* hsl(0 0% 95%); #f2f2f2 */;
  --bg-light: oklch(100% 0 0) /* hsl(0 0% 100%); #ffffff */;

  --gray: hsl(0 0% 70%) /*  hsl(0 0% 70%); #B3B3B3*/;
  --white: oklch(100% 0 0) /* hsl(0 0% 100%); #ffffff */;
  --text: oklch(15.91% 0 0) /* hsl(0 0% 5%); #0D0D0D*/;
  --text-muted: oklch(42.02% 0 0) /*  hsl(0 0% 30%); #4D4D4D*/;

  /* Category Colors */
  --housing: oklch(
    70% 0.055 122
  ); /* #9fb68a */ /* muted leafy green, stable/home feel */

  --utilities: oklch(
    78% 0.055 210
  ); /* #94c5d2 */ /* cool, muted blue for practical essentials */

  --food: oklch(
    83% 0.11 75
  ); /* #e7c770 */ /* warm golden yellow, appetizing and energetic */

  --transportation: oklch(
    75% 0.045 240
  ); /* #9fb9d0 */ /* calm, neutral blue for vehicles/commute */

  --healthcare: oklch(
    80% 0.06 140
  ); /* #d3b07c */ /* healthy greenish tone for wellness */

  --shopping: oklch(
    78% 0.1 30
  ); /* #f0a487 */ /* warm terracotta for lifestyle/purchases */

  --entertainment: oklch(
    70% 0.055 260
  ); /* #8c9fbd */ /* subtle muted purple-blue for leisure/fun */

  --education: oklch(
    82% 0.045 295
  ); /* #c5b9d7 */ /* soft lavender, professional yet gentle */

  --travel: oklch(
    81% 0.055 10
  ); /* #dfb0af */ /* warm pinkish beige, light, adventure feel */

  --financial: oklch(
    76% 0.007 160
  ); /* #adb1af */ /* neutral gray-green, grounded/stable */

  --family: oklch(
    74% 0.055 125
  ); /* #a4b58f */ /* soft olive green, nurturing */

  --gifts: oklch(
    82% 0.085 55
  ); /* #f2bb90 */ /* warm golden-orange, festive/joyful */

  --subscriptions: oklch(
    77% 0.05 185
  ); /* #93c1bc */ /* calm teal, recurring regularity */

  --savings: oklch(
    75% 0.055 115
  ); /* #b0b689 */ /* medium olive-green, financial growth */

  --personal-care: oklch(
    75% 0.055 320
  ); /* #bca4c3 */ /* soft muted mauve, personal/soothing */

  --pets: oklch(
    77% 0.085 50
  ); /* #deb58b */ /* warm earthy yellow-orange, friendly */

  --miscellaneous: oklch(
    83% 0.025 85
  ); /* #cec9b4 */ /* neutral soft, flexible “other” category */

  /* Shadcn/UI */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --bg-dark: oklch(13.44% 0 0) /* hsl(0 0% 3%); #080808 */;
  --bg: oklch(15.91% 0 0) /* hsl(0 0% 5%); #0D0D0D */;
  --bg-light: oklch(21.78% 0 0) /* hsl(0 0% 10%); #1A1A1A */;

  --text: oklch(96.12% 0 0) /* hsl(0 0% 95%); #F2F2F2*/;
  --text-muted: oklch(76.68% 0 0) /*  hsl(0 0% 70%); #B3B3B3*/;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);

  --color-gray: var(--gray);
  --color-white: var(--white);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --font-title: "TitleFont", sans-serif;
  --font-base: "BaseFont", sans-serif;

  --text-base: 1rem;
  --text-title: calc(1rem * 5);
  --text-huge: calc(1rem * 1.5);
  --text-larger: calc(1rem * 1.25);
  --text-large: calc(1rem * 1.125);
  --text-small: calc(1rem * 0.875);
  --text-smaller: calc(1rem * 0.75);
  --text-smallest: calc(1rem * 0.625);
  --text-tiny: calc(1rem * 0.5);

  --spacing-base: 1rem;
  --spacing-small: calc(1rem * 0.625);
  --radius-base: 10px;

  /* Category Colors */
  --color-housing: var(--housing);

  --color-utilities: var(--utilities);

  --color-food: var(--food);

  --color-transportation: var(--transportation);

  --color-healthcare: var(--healthcare);

  --color-shopping-personal: var(--shopping);

  --color-entertainment: var(--entertainment);

  --color-education: var(--education);

  --color-travel: var(--travel);

  --color-financial: var(--financial);

  --color-family: var(--family);

  --color-gifts: var(--gifts);

  --color-subscriptions: var(--subscriptions);

  --color-savings: var(--savings);

  --color-personal-care: var(--personal-care);

  --color-pets: var(--pets);

  --color-miscellaneous: var(--miscellaneous);

  /* Shadcn/UI */
  --spacing-horizontal-border: 12px;

  --font-heading: var(--font-sans);

  --font-sans: var(--font-sans);

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-primary-foreground: var(--primary-foreground);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --color-foreground: var(--foreground);

  --color-background: var(--background);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6);
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  font-family: var(--font-base);
  height: 100%;
  margin: 0;
}

@layer components {
  .nav-icon-container {
    @apply w-15 aspect-square bg-bg-dark flex justify-center items-center rounded-[10px];
  }

  .page-title {
    @apply text-huge;
  }
  .section-title {
    @apply text-base text-text;
  }

  .page-title-container {
    @apply flex justify-between items-center h-[40px] mb-8 m-2;
  }

  .full-button {
    @apply w-full p-base rounded-base text-center;
  }
}

@font-face {
  font-family: "TitleFont";
  src: url("/fonts/Ferron-Regular.woff2") format("woff2"),
    url("/fonts/Ferron-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BaseFont";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BaseFont";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ---break---*/

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

/* ---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
